    body{
        background-color: #FFFDD0;
        color: rgb(224, 63, 63);
    }
    .name{
        font-family: 'Open Sans', sans-serif;
        font: bold;
        text-align: right;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
    h2{
        font-family: 'Open Sans', sans-serif;
    }
    ul, h3{
        font-family: 'Open Sans', sans-serif;
        font-size: large;
        text-align: justify;
    }

    .container1{
        height: 310px;
        width: 65rem;
        padding: 10px;

    }

    .container2{
        height: 370px;
        width: 65rem;
        padding: 10px;
        padding-top: 0%;

    }
    .container3{
        height: 165px;
        width: 65rem;
        padding: 10px;
        padding-top: 0%;

    }
    .container{
        height: 130px;
        width: 65rem;
        padding: 10px;
        padding-top: 0%;    
    }

    .container1, .container2, .container3, .container{
        margin: auto;
        margin-bottom: 1em;
        border: 3px solid rgb(181, 194, 223);
        background-color: antiquewhite;

    }
    .xdd{
        display: block;
        width: 11%;
        margin-right: auto;
        margin-left: 56rem;
    }
