body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(209, 173, 173));
    color: black;    
}

.name{
    font-family: 'Open Sans', sans-serif;
    font: bold;
    text-align: justify;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
}
h2{
    font-family: 'Open Sans', sans-serif;
}
ul, h3{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: justify;
}

.container1{
    height: 310px;
    width: 65rem;
    padding: 10px;

}

.container2{
    height: 250px;
    width: 65rem;
    padding: 10px;
    padding-top: 0%;

}
.container3{
    height: 165px;
    width: 65rem;
    padding: 5px;

}
.container{
    height: 80px;
    width: 65rem;
    padding: 10px;
    padding-top: 0%;    
}

.container1, .container2, .container3, .container{
    margin: auto;
    margin-bottom: 1em;

}
.xdd{
    display: block;
    width: 11%;
    margin-right: auto;
    margin-left: 25px;        
}
